html{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

body{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    padding:0;
    margin: 0;
    height:100%;
    width:100%;
}
p{
  padding:5%;
}

#h{
  color: white;
  size: 80px;
  text-align: center;
}

#body{
    padding: 50px;
    align-items: center;
}

#collLists{
  display: block;
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  align-items: center;
  text-align: center;
  outline: black;
  font-size: 15px;
}
@media only screen and (max-width: 450px) {
  #h{
    color: white;
    size: 80px;
    text-align: center;
  }
  
  #body{
      padding: 0px;
      align-items: center;
  }
  
  #collLists{
    display: block;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
  
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    align-items: center;
    text-align: center;
    outline: black;
    font-size: 15px;
  }
}
.active, .collapsible:hover {
  background-color: #555;
}

.content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
